.App {
  text-align: center;
}
.App button{
  color:white;
  background-color:blue;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  border-color:cornflowerblue;
  font-size: medium;
  margin: 5px;
}
button:hover{
  background-color:yellow;
  color:black;
  width: 22%;
  height: 45px;
  border-color:gray;
}

